/* Reset CSS */
/*------------------------------------*/

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove default padding */
ul[class], ol[class] {
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements */
ul, ol {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit font-family & font-size for inputs and buttons */
input, button, textarea, select {
    font: inherit;
}

/* Remove border on textarea */
textarea {
    border-style: none;
    resize: vertical;
}

/* Textarea focus border */
textarea:focus {
    outline: none;
}

/* Remove button default styles */
button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Remove input number spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Clear any padding or margin on table */
table {
    border-collapse: collapse;
    border-spacing: 0;
}