* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:self-start;
    background-image: url(asset/Imágenes\ De\ Fondo\ De\ Películas\ Antiguas\ de\ Pantalla\ Imagen\ para\ Descarga\ Gratuita\ -\ Pngtree.jpg)
}

.container {
    height: 300px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    height: 350px;
    width: 300px;
    margin: 10px;
    transition: 330ms;
    position: relative; /* Agregado para controlar la posición de los elementos hijos */
}

.personaje,
.personaje_2,
.personaje_3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #00a5ec;
    transition: 300ms;
    position: absolute;
}

.imagen_pelicula,
.imagen_pelicula2,
.imagen_pelicula_3 {
    height: 300px; /* Ajustado el tamaño */
    width: 100%;
    background-image: url(); /* URL de la imagen */
    background-size: cover;
    margin-bottom: 10px; /* Ajustado el margen */
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}

.detalle,
.detalle_2,
.detalle_3 {
    height: 120px; /* Ajustado el tamaño */
    width: 100%;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 200px; /* Ajustado el margen */
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms;
}
/* Añadidos los estilos de hover para las imágenes */
.card:hover .imagen_pelicula {
    transform: translateY(-10px);
    filter: none;
}

.card:hover .imagen_pelicula2 {
    transform: translateY(-10px);
    filter: none;
}

.card:hover .imagen_pelicula_3 {
    transform: translateY(-10px);
    filter: none;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: auto;
    width: 90%;
    font-size: 12px;
}

.btn {
    width: 100px;
    margin: auto;
    cursor: pointer;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px; /* Ajustado el radio del borde */
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    margin: 4px;
}

.logo img{
    height: 20px;
    border-radius: 30%;
    margin-left: 5px;
}


.header-content {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Margen izquierdo recomendado */
}

.logo-img {
    width: 30em; /* Dimensiones recomendadas para el logo */
    height: auto; /* Mantener la proporción */
}

.title {
    margin-left: 40px; /* Espacio entre el logo y el texto */
}

h1, h2 {
    margin: 50;
    font: size 100px;;
}

nav {
    text-align: right; /* Alineación a la derecha */
}

nav a {
    margin-right: 80px; /* Espacio entre los enlaces */
}
