body{
    background-color: #5a2a2a;/*color de fondo*/
    color: #ffffff;    
}
.title{
    font-size: 3em;/*tamañano de fuente*/
    font-family: serif;
    color: rgba(244, 41, 41, 0.788);
}

.logo{
    width: 200px;/*ancho*/
    height: 200px;/*altura*/

}

.buttontec{
    font-size: 2em;/*tamañano de fuente*/
    font-family: serif;
    color: rgba(244, 41, 41, 0.788);
}


.cards{
    border: 2px solid rgb(112, 76, 76);/*ajuste de borde*/
    width: fit-content;/*Usando el valor fit-content , el ancho de un elemento div se puede configurar para que se ajuste a su contenido. La propiedad CSS fit-content establece el ancho de un elemento en el ancho mínimo de su contenido y permite que el elemento se expanda según el ancho de su contenedor principal.*/
    padding: 1px 1em 2em 1em;/*relleno puede ser en sentido del reloj/arriba/derecha/abajo/izquierda/El padding es el espacio entre los bordes de un elemento y su contenido. Al manipular el relleno, defines la posición y el tamaño del contenido dentro del espacio interior de su elemento padre.*/
    border-radius: 5%;/*establece el redondeo de la esquina superior izquierda del elemento. El redondeo puede ser un círculo o una elipse, o si uno de los valores es 0 , no se redondeará la esquina, dejándola cuadrada.*/
    transition: 2s;/* proporcionan una forma de animar los cambios de las propiedades CSS, en lugar de que los cambios surtan efecto de manera instantánea. Por ejemplo, si cambias el color de un elemento de blanco a negro, normalmente el cambio es instantáneo*/
    display: flex;/**/
    flex-direction: column;/*la direccion de la tarjetas quedara en columna*/
    gap: 2em;/*espacio entre un elemento y otro, entre el nombre de la imagen y la imagen misma */
    align-items: center;/*centrar todos los elementos*/
}

.cards:hover{/*Para cambiar el color de su enlace en hover, utilice el ":hover" pseudo-propiedad en el enlace de la clase y le dan un color diferente.*/
    background-color:#fbe81d;
}

#principal{
    font-size: 4.5em;/*tamaño fuente*/
    color:#12649a;

}

#titulos{
  
    width: 90vw; /*ancho/vw/vierwport whidth 60 % por ciento de la pantalla*/
    margin: auto; /*margen/ automatico proporcional*/
    padding: 3em;/*relleno/El padding es el espacio entre los bordes de un elemento y su contenido. Al manipular el relleno, defines la posición y el tamaño del contenido dentro del espacio interior de su elemento padre.*/
    display: flex;/*contenedor flexible*/
    flex-direction: column;/*direccion de columnna*/
    align-items: center;/*centrar todos los elementos*/
}

.multi-button{

    font-size: 2em;/*tamañano de fuente*/
    font-family:'Lucida Sans',
    color rgba(230, 13, 13, 0.788);
    text-align: center;
    width: 85vw; /* El contenedor de las tarjetas ocupa el 80% del ancho */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
     margin-right: 0% ;/*margen automatico/ para poder centrar*/
    border-radius: 15px;/*borde radio*/
    padding: 2em;/*relleno distancia entre el borde lateral entre el contenedor y la imagenes o tarjeta*/
    justify-content:space-evenly;
}


#cardscontainer{
    background-color: #8d8f91;/*color de fondo*/
    width: 85vw;/*ancho*/
    margin: auto;/*margen automatico/ para poder centrar*/
    margin-top: 1.5em;/*margen superior*/
    border: 5px solid #8d8f91;/*borde*/
    border-radius: 15px;/*borde radio*/
    padding: 2em;/*relleno distancia entre el borde lateral entre el contenedor y la imagenes o tarjeta*/
    display: flex;/*posicionar el contenido de manera orizontal o fila, a traves del metodo flex*/
    flex-direction: row;/*comportamiento predeterminado es en fila "row", tambien podemos colocar en columna*/
    justify-content:space-evenly;/*justificar el contenido- todos los elementos tiene la misma distancia respecto del borde y del elemento que le sigue*/

}
#cards-container2{
    background-color: #8d8f91;/*color de fondo*/
    width: 85vw;/*ancho*/
    margin-right: 0% ;/*margen automatico/ para poder centrar*/
    margin-top: 1.5em;/*margen superior*/
    border: 5px solid #8d8f91;/*borde*/
    border-radius: 15px;/*borde radio*/
    padding: 2em;/*relleno distancia entre el borde lateral entre el contenedor y la imagenes o tarjeta*/
    display: flex;/*posicionar el contenido de manera orizontal o fila, a traves del metodo flex*/
    flex-direction: row;/*comportamiento predeterminado es en fila "row", tambien podemos colocar en columna*/
    justify-content:4em/*justificar el contenido- todos los elementos tiene la misma distancia respecto del borde y del elemento que le sigue*/

}
#contenedorNuevo{
    background-color: #8d8f91;/*color de fondo*/
    width: 85vw;/*ancho*/
    
}

.input{
    background-color: #8d8f91;/*color de fondo*/
    border: 5px solid #8d8f91;/*borde*/
    padding: 2em;
}

.button{
    background-color: #8d8f91;/*color de fondo*/
    border: 2px solid #8d8f91;/*borde*/
    padding: 2em;
    margin-top: 3em;/*margen superior*/
    border-radius: 15px;/*borde radio*/
    padding-inline-end: 2em;

}
